HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Grafana plugin build outputs ###
docker/grafana/plugins/grafana-lokiexplore-app/*.js
docker/grafana/plugins/grafana-lokiexplore-app/*.js.map
docker/grafana/plugins/grafana-lokiexplore-app/*.LICENSE.txt
docker/grafana/plugins/grafana-lokiexplore-app/img/
docker/grafana/plugins/grafana-exploretraces-app/
docker/grafana/plugins/grafana-metricsdrilldown-app/
docker/grafana/plugins/grafana-pyroscope-app/*.js
docker/grafana/plugins/grafana-pyroscope-app/*.js.map
docker/grafana/plugins/grafana-pyroscope-app/*.LICENSE.txt